.reactMarkDown p { 
    margin: 0px; 
    margin-top: 0px;
    margin-bottom: 0px;
}

.reactMarkDown ul {
    list-style: disc outside none;
}

.reactMarkDown ul li {
    text-align: -webkit-match-parent;
}

.reactMarkDown ol {
    list-style-type: decimal;
}